<br><br>




<div style="max-width: 800px; margin: auto; padding: 20px;">
  <h2>An&aacute;lisis de Correlación Uni Variable</h2>

  <!-- Dropdown -->
  <label for="dropdown" style="padding: 5px">Seleciona un Pa&iacute;s:</label>
  <select id="dropdown" [(ngModel)]="selectedCountry">
    <option [ngValue]="null">-- Países --</option>
    <option *ngFor="let opt of countriesList" [ngValue]="opt.code">
      {{ opt.name }}
    </option>
  </select>

  <!-- Dropdown -->
  <label for="dropdown" style="padding: 5px">Seleciona un Indicador:</label>
  <select id="dropdown" [(ngModel)]="selectedIndicator">
    <option [ngValue]="null">-- Indicadores --</option>
    <option *ngFor="let opt of indicatorsList" [ngValue]="opt.code">
      {{ opt.name }}
    </option>
  </select>

  <!-- Button -->
  <button (click)="fetchDataUni()" class="primary-btn">
    Mostrar An&aacute;lisis
  </button>

  <!-- Loading -->
  <div *ngIf="loading()" style="color: blue; margin-top: 10px;">
    Cargando...
  </div>

  <!-- Error -->
  <div *ngIf="errorMessage()" style="color: red; margin-top: 10px;">
    {{ errorMessage() }}
  </div>

  <!-- Response -->

  @if(!loading()){
    <p [style.color]="'blue'">
        {{ indicatorMessage() }}
        <br><br>
    </p>
  }
  <img *ngIf="plotImageSrc()" [src]="plotImageSrc()" alt="Image" />
  <!-- Response -->

</div>