<div style="max-width: 1200px; margin:left; padding: 10px;">

  <h2>An&aacute;lisis de Correlación Multi-Variable</h2>
  Grafica la relación entre la deuda externa y dos indicadores económicos: PIB (producto interno bruto) y las tasas de interés del banco mundial.

</div>

<div style="max-width: 800px; margin: auto; padding: 20px;">

  <!-- Dropdown -->
  <label for="dropdown" style="padding: 5px">Seleciona un País:</label>
  <select id="dropdown" [(ngModel)]="selectedCountry">
    <option [ngValue]="null">-- Países --</option>
    <option *ngFor="let opt of countriesList" [ngValue]="opt.code">
      {{ opt.name }}
    </option>
  </select>

  <!-- Button -->
  <button (click)="fetchData()" class="primary-btn">
    Mostrar Análisis
  </button>

  <!-- Loading -->
  <div *ngIf="loading()" style="color: blue; margin-top: 10px;">
    Cargando...
  </div>

  <!-- Error -->
  <div *ngIf="errorMessage()" style="color: red; margin-top: 10px;">
    {{ errorMessage() }}
  </div>

   <!-- No data found -->
  <div *ngIf="noDataMessage()" style="color: blue; margin-top: 10px;">
    {{ noDataMessage() }}
  </div>

  <!-- Response -->

  @if(!loading()){
    <p [style.color]="'blue'">
        {{ mapMessage() }}
    </p>
  }
  <img *ngIf="plotImageSrc()" [src]="plotImageSrc()" alt="Image" />
  <!-- Response -->

</div>