<br><br>




<div style="max-width: 800px; margin: auto; padding: 20px;">
  <h2>Predicción de Deuda Internacional</h2>

  <!-- Dropdown -->
  <label for="dropdown" style="padding: 5px">Seleciona un País:</label>
  <select id="dropdown" [(ngModel)]="selectedCountry">
    <option [ngValue]="null">-- Países --</option>
    <option *ngFor="let opt of countriesList" [ngValue]="opt.code">
      {{ opt.name }}
    </option>
  </select>

  <label>
  <input type="checkbox" [(ngModel)]="isSarimaxChecked" (change)="onCheckboxSarimaxChange($event)" />
   Sarimax
  </label>

  <input
    type="checkbox"
    [(ngModel)]="isVecmChecked"
    (change)="onCheckboxVecmChange($event)"
  /> Vecm

  <!-- Button -->
  <button (click)="fetchData()" class="primary-btn">
    Obtener Predicción
  </button>
<br><br>

  <!-- Loading -->
  <div *ngIf="loading()" style="color: blue; margin-top: 10px;">
    Cargando...
  </div>

  <!-- Error -->
  <div *ngIf="errorMessage()" style="color: red; margin-top: 10px;">
    {{ errorMessage() }}
  </div>

  <!-- Response -->

   <!-- Error sarimax -->
  <div *ngIf="errorMessageSarimax()" style="color: blue; margin-top: 10px;">
    {{ errorMessageSarimax() }}
  </div>

   @if(sarimaxValues().length > 0){

      <div style="margin-top: 10px;">
          <p [style.color]="'blue'">
              {{ currencyMessage() }}
          </p>
          <br>
          SARIMAX
          <ul>
              <li *ngFor="let item of sarimaxValues()">
                  <strong>{{ item.year }}</strong> — {{ item.value }}
              </li>
          </ul>
      </div>
   }
  
   @if(vecmValues().length > 0 && sarimaxValues().length > 0){
      -----------------------------------------------------------------------
   }

  <!-- Response VECM -->
    <!-- Error VECM -->
  <div *ngIf="errorMessageVecm()" style="color: blue; margin-top: 10px;">
    {{ errorMessageVecm() }}
  </div>

   @if(vecmValues().length > 0){
      <div style="margin-top: 10px;">
        <p [style.color]="'blue'">
          {{ currencyMessage() }}
        </p>
        <br>
        VECM
        <ul>
          <li *ngFor="let item of vecmValues()">
            <strong>{{ item.year }}</strong> — {{ item.value | number:'1.0-2' }}
          </li>
        </ul>
      </div>
  }

</div>